#nav-link-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
    z-index: 100; /* z-index is needed for links to render on top of the background darkening from bio panel */
}

@media only screen and (max-aspect-ratio: 1/1) {
    #nav-link-container {
        visibility: hidden;
    }
}